<nav class="navbar navbar-expand-sm navbar-light bg-primary">
      <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="home" routerLinkActive="bg-danger border border-white">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about" routerLinkActive="bg-danger border border-white">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="gallery" routerLinkActive="bg-danger border border-white">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contact" routerLinkActive="bg-danger border border-white">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="parent" routerLinkActive="bg-danger border border-white">Parent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="pizza" routerLinkActive="bg-danger border border-white">Pizza</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="pasta" routerLinkActive="bg-danger border border-white">Pasta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="salad" routerLinkActive="bg-danger border border-white">Salad</a>
                </li>
                
            </ul>
           
        </div>
  </div>
</nav>
